<div class="card">
    <div class="card-title">
        <h4 class="underline">修改产品(SPU)信息</h4>
    </div>

    <% form_for @spu, url(:spus, :update, :id => @spu.id), :method => 'post' do |f| %>
        <%= f.hidden_field :t_category_id %>
        <%= f.hidden_field :merchant_id %>
        <div class="row">
            <div class="col-xs-12 form-group-row">
                <label>选择品牌*</label>
                <%=f.select :t_brand_id, :options => @brands.map{|brand| [brand.name, brand.id]}.unshift([nil,nil]), :required => true, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>产品标题*</label>
                <%=f.text_field :title, :required => true, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>产品说明</label>
                <%= f.text_field :detail, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>商品分销佣金比例（0-100）</label>
                <%= f.text_field :dist_percent, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>产品详情图片</label>
                <div class="image-preview">
                    <div class="img-upload">
                        <div class="img-upload-mask">
                            <%= f.file_field :details, :multiple => true, :class => 'inbox-file' %>
                        </div>
                    </div>
                </div>
            </div>
            <% if @spu.details.present? %>
                <div class="col-xs-12 form-group-row">
                    <label>已上传详情图片</label>
                    <div class="image-preview">
                        <% @spu.details.each do |detail| %>
                            <%= link_to (image_tag detail.url(:thumb), :class => 'thumbnail'), detail.url, :target => '_blank' %>
                        <% end %>
                    </div>
                </div>
                <div class="col-xs-12 form-group-row">
                    <label>&nbsp;</label>
                    <% link_to url(:spus, :ordering_imgs, :id=> @spu.id) do %>
                        <%= content_tag :i, nil, :class => 'fa fa-exchange' %> 调整图片顺序
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="form-group-row-btn">
            <%= link_to '返回', url(:spus, :index), :class => 'btn btn-back' %>
            <%=f.submit '提交', :class => 'btn btn-submit' %>
        </div>
    <% end %>
</div>
