<div class="card">
    <div class="card-title">
        <h4 class="underline">产品(SPU)列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>
            <% link_to url(:spus, :select_category), :class => 'btn btn-default' do %>
                <%= content_tag :i, nil, :class => 'fa fa-plus' %> 新增产品(SPU)
            <% end %>
        </div>
    </div>

    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
          <th style="width: 15%;">目录</th>
          <th style="width: 15%;">品牌</th>
          <th style="width: 25%;">标题</th>
          <th style="width: 10%;">可销售</th>
          <th style="width: 20%;">说明</th>
          <th style="width: 10%;">SKU数量</th>
          <th style="width: 5%;">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @spus.each do |spu| %>
            <tr>
                <td><%= spu.category_desc %></td>
                <td><%= spu.t_brand.name if spu.t_brand %></td>
                <td><%= spu.title %></td>
                <td><%= content_tag :span, spu.saleable ? '是' : '否', :class => "status status-#{ spu.saleable ? 'valid' : 'invalid' }" %></td>
                <td><%= spu.detail %></td>
                <td><%= spu.t_skus.count %></td>
                <td class="action">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-gear"></i> <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <% link_to url(:spus, :edit, :id =>spu.id) do %>
                                    <%= content_tag :i, nil, :class => 'fa fa-edit' %> 修改
                                <% end %>
                            </li>
                            <li>
                                <% link_to url(:spus, :show, :id => spu.id) do %>
                                    <%= content_tag :i, nil, :class => 'fa fa-info-circle' %> 查看SKU
                                <% end %>
                            </li>
                            <li>
                                <% link_to url(:spus, :add_sku, :id =>spu.id, :from => 'index') do %>
                                    <%= content_tag :i, nil, :class => 'fa fa-plus-circle' %> 添加SKU
                                <% end %>
                            </li>
                            <li>
                                <% if spu.saleable %>
                                    <% link_to url(:spus, :change_sale, :id =>spu.id, :action =>'offsale') do %>
                                        <%= content_tag :i, nil, :class => 'fa fa-arrow-circle-down' %> 下架
                                    <% end %>
                                <% else %>
                                    <% link_to url(:spus, :change_sale, :id =>spu.id, :action =>'onsale') do %>
                                        <%= content_tag :i, nil, :class => 'fa fa-arrow-circle-up' %> 上架
                                    <% end %>
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%= will_paginate @spus %>
</div>

<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索栏</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <% form_tag url(:spus, :index), :method => 'get' do %>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                                <label>目录</label>
                            <%= select_tag :category_1, :options => @categories.where(parent_id: nil).map{|category| [category.name, category.id]}.unshift([nil,nil]), :class => 'form-control', :onchange => 'change_category(this);' %>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>&nbsp;</label>
                            <%= select_tag :category_2, :options => [], :class => 'form-control', :id => 'category_2' %>
                        </div>
                        <div class="col-xs-12 form-group">
                                <label>标题</label>
                            <%= text_field_tag :title, :class => 'form-control' %>
                        </div>
                    </div>
                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-submit">提交</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


<span style="display: none">
    <% @categories.each do |category| %>
        <%=hidden_field_tag "categoryid_#{category.id}", id: "categoryid_#{category.id}", :value => "#{category.name}", class: "category_class_#{category.parent_id}"%>
    <% end %>
</span>
