<div class="card">
    <div class="card-title">
        <ul class="nav nav-pills">
            <li><h4>1、选择产品目录</h4></li>
            <li class="active"><h4>2、填写产品(SPU)信息</h4></li>
            <li><h4>3、添加商品(SKU)</h4></li>
        </ul>
    </div>

    <% form_for @spu, url(:spus, :create), :method => :post, multipart: true do |f| %>
        <%= f.hidden_field :t_category_id %>
        <%= f.hidden_field :merchant_id %>
        <div class="row">
            <div class="col-xs-12 form-group-row">
                <label>选择品牌</label>
                <%= f.select :t_brand_id, :options => @brands.map{|brand| [brand.name, brand.id]}.unshift([nil,nil]), :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>产品标题*</label>
                <%= f.text_field :title, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>产品说明</label>
                <%= f.text_field :detail, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>产品详情图片</label>
                <div class="image-preview">
                    <div class="img-upload">
                        <div class="img-upload-mask">
                            <%= f.file_field :details, :multiple => true, :class => 'inbox-file' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>商品分销佣金比例（0-100）</label>
                <%= f.text_field :dist_percent, :class => 'form-control' %>
            </div>
        </div>
        <div class="form-group-row-btn">
            <%= link_to '上一步', 'javascript:history.go(-1);', :class => 'btn btn-back' %>
            <%= f.submit '下一步', :class => 'btn btn-submit' %>
        </div>
    <% end %>
</div>
