<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-status-wrap">
        <h4>目录列表</h4>
        <div class="add-product">
            <a href="<%=url(:categories, :new)%>">新增目录</a>
        </div>
        <table>
            <tr>
                <th style="width: 12%;">一级目录</th>
                <th style="width: 12%;">二级目录</th>
                <th style="width: 33%;">品牌</th>
                <th style="width: 33%;">属性</th>
                <th style="width: 8%;"></th>
            </tr>
            <% @categories.where(parent_id: nil).each do |category| %>
              <tr>
                  <td><a class="toggle-button" data-id="<%=category.id%>" href="javascript:void(0)"><%= category.name%></a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="<%=url(:categories, :new, :parent_id =>category.id) %>" title="新增二级目录" class="pd-setting-ed" style="margin-right: 5px;"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
              </tr>
              <% @categories.where(parent_id: category.id).each do |sub_category|%>
              <tr class="sub_categories sub_<%=category.id%>">
                  <td></td>
                  <td><%= sub_category.name%></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <% end %>
            <% end %>

        </table>

    </div>
</div>
