<div class="card">
    <div class="card-title">
        <h4 class="underline">新增目录</h4>
    </div>

    <% form_for @category, url(:categories, :create), :method => :post do |f| %>
        <%= f.hidden_field :parent_id %>
        <div class="row">
            <% if @category.parent_id.present? %>
                <div class="col-xs-12 form-group-row">
                    <label>上级目录名称*</label>
                    <%= text_field_tag :parent_name, :value => TCategory.find(@category.parent_id).name,
                                       :readonly => true, :class => 'form-control' %>
                </div>
            <% end %>
            <div class="col-xs-12 form-group-row">
                <label>目录名称*</label>
                <%= f.text_field :name, :class => 'form-control' %>
            </div>
        </div>
        <div class="form-group-row-btn">
            <%= link_to '返回', 'javascript:history.go(-1);', :class => 'btn btn-back' %>
            <%= f.submit '提交', :class => 'btn btn-submit' %>
        </div>
    <% end %>
</div>
