<div class="card">
    <div class="card-title">
        <h4 class="underline">新增属性</h4>
    </div>

    <% form_for @attribute, url(:categories, :create_attribute ), :method => :post do |f| %>
        <div class="row">
            <div class="col-xs-12 form-group-row">
                <label>目录</label>
                <%= text_field_tag :category_name, :value=> TCategory.find(@attribute.t_category_id).name, :readonly => true, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>属性名称*</label>
                <%= f.text_field :name, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>属性类别*</label>
                <%= f.select :selling, :options => [['展示属性','false'], ['销售属性','true']], :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>属性可搜索？*</label>
                <%= f.select :searching, :options => [['否','false'], ['是','true']], :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>属性值单位</label>
                <%=f.text_field :unit, :class => 'form-control' %>
            </div>
        </div>
        <div class="form-group-row-btn">
            <%= link_to '返回', 'javascript:history.go(-1);', :class => 'btn btn-back' %>
            <%= f.submit '提交', :class => 'btn btn-submit' %>
        </div>
    <% end %>
</div>
