<div class="card">
    <div class="card-title">
        <h4 class="underline">更换分销员申请列表</h4>
    </div>

    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 25%;">客户</th>
            <th style="width: 65%;">申请内容</th>
            <th style="width: 15%;">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @agent_changes.each do |ac| %>
            <tr>
                <td><%= ac.customer.wechat_info['nickName'] rescue nil %></td>
                <td><%= ac.content %></td>
                <td class="action">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i> <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#agent_<%= ac.id %>"><i class="fa fa-edit"></i> 更换分销员</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

            <div class="modal modal-custom fade" id="agent_<%= ac.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title underline">更换分销员</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <% form_tag url(:agent_changes, :change, :id=>ac.id), :method => 'post' do %>
                                <div class="row">
                                    <div class="col-xs-12 form-group">
                                        <label>分销员</label>
                                        <%=select_tag :new_agent_id, :options => current_account.merchant.agents, :class => 'form-control' %>
                                    </div>
                                </div>
                                <div align="right">
                                    <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-submit">提交</button>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        </tbody>
    </table>
    <%= will_paginate @agent_changes %>
</div>
