<div class="card">
    <div class="card-title">
        <h4 class="underline">选择商品</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>
        </div>
    </div>
    <!-- 表格主体内容 -->
    <% form_tag url(:coupons, :update_spu, :id => @coupon.id), :class=>"form-horizontal", :method => 'post' do %>
    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 15%;">目录</th>
            <th style="width: 10%;">品牌</th>
            <th style="width: 23%;">标题</th>
            <th style="width: 10%;">可销售?</th>
            <th style="width: 20%;">说明</th>
            <th style="width: 10%;">SKU数量</th>
            <th style="width: 10%;"><input type="checkbox" onclick="checkAllSpu(this)"></th>
        </tr>
        </thead>
        <tbody>
          <% @spus.each do |spu| %>
            <tr>
                <td><%= spu.category_desc%></td>
                <td><%= spu.t_brand.name if spu.t_brand %></td>
                <td><%= spu.title %></td>
                <td>
                  <%if spu.saleable%>
                      <span class="status status-valid">是</span>
                  <%else%>
                      <span class="status status-invalid">否</span>
                  <%end%>
                </td>
                <td><%= spu.detail %></td>
                <td><%= spu.t_skus.count %></td>
                <td>
                  <% if (@coupon.spus || []).include? spu.id.to_s%>
                    <input type="checkbox" name="ids[]" value="<%=spu.id%>" checked=checked>
                  <% else %>
                    <input type="checkbox" name="ids[]" value="<%=spu.id%>">
                  <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    
    <div class="pagination">
      <%= will_paginate @spus %>
    </div>
    <div class="form-group-inner">
        <div class="login-btn-inner">
            <div class="login-horizental cancel-wp">
              <a href="<%=url(:coupons, :index)%>" class="btn btn-warning" style="border-radius: 0px;background-color: #ccc;border-color: #ccc;">返回</a>

              <%=submit_tag "提交", :class => "btn btn-sm btn-primary login-submit-cs"%>
            </div>
        </div>
    </div>
    <%end%>
</div>
<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <% form_tag url(:coupons, :select_spu, :id => @coupon.id) , :method => 'get' do %>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label class="login2">目录</label>
                            <%=select_tag(:category_1, :options => @categories.where(parent_id: nil).map{|category| [category.name, category.id]}.unshift([nil,nil]), :class => "form-control custom-select-value", :onchange => 'change_category(this);')%>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>&nbsp;</label>
                            <%=select_tag(:category_2, :options => [], :class => "form-control custom-select-value", id: "category_2")%>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>标题</label>
                            <%=text_field_tag(:title, :class => "form-control")%>
                        </div>
                    </div>

                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-submit">提交</button>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
<span style="display: none">
  <% @categories.each do |category| %>
    <%=hidden_field_tag "categoryid_#{category.id}", id: "categoryid_#{category.id}", :value => "#{category.name}", class: "category_class_#{category.parent_id}"%>
  <% end %>
</span>

<script>
function checkAllSpu(object)
{
   var ids = document.getElementsByName("ids[]");
   var length = ids.length;
   var checked = object.checked;
   //alert(checked)
   for (var i = 0; i < length; i++)
   {
     ids[i].checked=checked;
   }
}
</script>
