<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name=viewport content='width=device-width,initial-scale=1' />
    <title><%= @title.present? ? "#{@title} | Padrino Admin" : "#{pat('login.title')} | Padrino Admin" %></title>
    <%= favicon_tag "favicon.ico" %>
    <%= stylesheet_link_tag "bootstrap", "application" %>
  </head>
  <body style="background: url(/admin/images/login-bg.png) no-repeat center center; background-size: 100%;">

    <div class="form-group-inner">
        <div class="row">
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                &nbsp;
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <img src="/admin/images/zuo.png" style="width: 85%;padding-top: 130px;">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-top: 130px;">
                <div class="form-select-list" style="background: #EBF0F3;box-shadow: inset 0 1px 3px 0 #FFFFFF;border-radius: 20px;">
                  <% form_tag url(:sessions, :create), :class=>"login form-horizontal", style: "width: 100%;    margin-top: 0px;" do %>
                    <div class="login-body modal-body" style="padding: 20px 20px !important;">
                      <div class="form-group">
                        <label class="col-lg-12 control-label" style="font-family: PingFangSC-Medium;font-size: 26px;color: #000000;letter-spacing: 1px;text-align: left;">登录</label>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-12 control-label" style="font-family: PingFangSC-Regular;font-size: 14px;color: #999999;letter-spacing: 3px;text-align: left;">QUAIE「SHANG HAI」</label>
                      </div>

                      <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>

                      <div class="form-group">
                        <div class="col-lg-12"><%= email_field_tag :email, :id => :email, :value => params[:email], :autofocus => false, :class => 'form-control', style: "background: #E5E9F1; border-radius: 10px;height: 45px;", placeholder: "邮箱" %></div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-12"><%= password_field_tag :password, :id => :password, :class => 'form-control', style: "background: #E5E9F1; border-radius: 10px;height: 45px;", placeholder: "密码" %></div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-12"><%= submit_tag("登录", :class => "btn btn-primary pull-right", style: "background: #FBCE19;border-radius: 37.5px;border-color: #FBCE19;width: 100%;color: #000000;height: 45px; font-size: 14px;") %></div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
        </div>
    </div>
    <%= javascript_include_tag 'jquery-1.11.0.min', (Padrino.env == :production ? 'bootstrap/bootstrap.min' : %w[bootstrap/affix bootstrap/alert bootstrap/button bootstrap/carousel bootstrap/collapse bootstrap/dropdown  bootstrap/tooltip bootstrap/transition  bootstrap/modal bootstrap/popover bootstrap/scrollspy bootstrap/tab]), :application %>
  </body>
</html>
