<div class="card">
    <div class="card-title">
        <h4 class="underline">优选商品列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>

            <button class="btn btn-default" type="button">
                <a href="<%=url(:skus, :select_sku)%>"><i class="fa fa-plus"></i>添加优选商品</a>
            </button>
        </div>
    </div>
    <!-- 表格主体内容 -->
    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 10%;">SKU代码</th>
            <th style="width: 20%;">标题</th>
            <th style="width: 10%;">销售属性</th>
            <th style="width: 10%;">广告语</th>
            <th style="width: 8%;">优先级</th>
            <th style="width: 8%;">价格</th>
            <th style="width: 10%;">库存(可销售)</th>
            <th style="width: 22%;"></th>
        </tr>
        </thead>
        <tbody>
        <% @skus.each do |sku| %>
            <tr>
                <td><%= sku.sku_code%></td>
                <td><%= sku.title %></td>
                <td><%= sku.sale_attrs_desc %></td>
                <td><%= sku.preferred_slogan %></td>
                <td><%= {1=>'低',2=>'高'}[sku.preferred] %></td>
                <td>￥<%= sku.price %></td>
                <td><%= sku.stock_num %>(<%= sku.available_num %>)</td>
                <td>
                  <a href="<%=url(:spus, :show_sku, :sku_id =>sku.id)%>" title="查看SKU" class="pd-setting-ed" style="margin-right: 5px;">详情</a>

                  <a href="<%=url(:skus, :change_preferred, :sku_id =>sku.id, :option => 0) %>" title="选择" class="pd-setting-ed" style="margin-right: 5px;">从优选中删除</a>

                  <a class="zoomInDown mg-t" href="#" data-toggle="modal" data-target="#preferred<%=sku.id%>" title="修改" class="pd-setting-ed" style="margin-right: 5px;">修改广告语</a>
                  <div id="preferred<%=sku.id%>" class="modal modal-adminpro-general modal-zoomInDown fade" role="dialog">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-body">
                                  <div class="modal-login-form-inner">
                                      <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <div class="basic-login-inner modal-basic-inner">
                                                  <% form_tag url(:skus, :change_preferred, :sku_id =>sku.id), :class=>"form-horizontal", :method => 'get' do %>
                                                      <%=hidden_field_tag :from, :value=>"modify"%>
                                                      <div class="form-group-inner">
                                                          <div class="row">
                                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <label class="login2">优先级<span style="color: #58D68D; font-size: 12px;">(高优先级商品将在首页展示)</span></label>
                                                              </div>
                                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <%=select_tag(:option, :options => [['',''],['高','2'],['低','1']], :value => sku.preferred, :class => "form-control custom-select-value")%>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="form-group-inner">
                                                          <div class="row">
                                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <label class="login2">广告语<span style="color: #58D68D; font-size: 12px;">(不能超过12个字)</span></label>
                                                              </div>
                                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <%=text_field_tag(:preferred_slogan, :value => sku.preferred_slogan, :class => "form-control")%>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="form-group-inner">
                                                          <div class="row">
                                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <label class="login2">标签</label>
                                                              </div>
                                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <%=select_tag(:label_id, :options => Label.where(ltype: 1).map{|l| [l.name, l.id]}, :value => sku.label_id, :class => "form-control custom-select-value")%>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div align="right">
                                                          <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                                                          <button type="submit" class="btn btn-submit">提交</button>
                                                      </div>
                                                  <% end %>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @skus %>
    </div>
</div>
<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <% form_tag url(:skus, :preferred) , :method => 'get' do %>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>目录</label>
                            <%=select_tag(:category_1, :options => @categories.where(parent_id: nil).map{|category| [category.name, category.id]}.unshift([nil,nil]), :class => "form-control custom-select-value", :onchange => 'change_category(this);')%>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>&nbsp;</label>
                            <%=select_tag(:category_1, :options => @categories.where(parent_id: nil).map{|category| [category.name, category.id]}.unshift([nil,nil]), :class => "form-control custom-select-value", :onchange => 'change_category(this);')%>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>标题</label>
                            <%=text_field_tag(:title, :class => "form-control")%>
                        </div>
                    </div>

                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-submit">提交</button>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
<span style="display: none">
  <% @categories.each do |category| %>
    <%=hidden_field_tag "categoryid_#{category.id}", id: "categoryid_#{category.id}", :value => "#{category.name}", class: "category_class_#{category.parent_id}"%>
  <% end %>
</span>
