<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="review-tab-pro-inner">
      <ul id="myTab3" class="tab-review-design">
          <li class="active"><a disable='true'><i class="fa fa-pencil" aria-hidden="true"></i> 修改秒杀信息</a></li>
      </ul>
        <div id="myTabContent" class="tab-content custom-product-edit">
            <% form_for @seckill, url(:seckills, :update, :id => @seckill.id), :class=>"form-horizontal", :method => 'post' do |f| %>
            <div class="product-tab-list tab-pane fade active in">
              <%=f.hidden_field "t_sku_id" %>
              <%=f.hidden_field "merchant_id" %>

              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀标题*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-select-list">
                            <%=f.text_field(:title, :class => "form-control")%>
                          </div>
                      </div>
                      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <label class="login2 pull-left pull-left-pro" style="color: #EC7063">秒杀描述，将展示在秒杀商品页</label>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀描述*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-select-list">
                            <%=f.text_field(:detail, :class => "form-control")%>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">开始结束时间*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              <%=f.text_field(:begin_time, :class => "form-control datetimePicker")%>
                          </div>
                      </div>
                      <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">至</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              <%=f.text_field(:end_time, :class => "form-control datetimePicker")%>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀价*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon">￥</span>
                              <%=f.text_field(:seckill_price, :class => "form-control")%>
                          </div>
                      </div>
                      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <label class="login2 pull-left pull-left-pro" style="color: #EC7063">商品原价：￥<%=@seckill.t_sku.price%></label>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀商品数量*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-select-list">
                            <%=f.text_field(:num, :class => "form-control")%>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="login-btn-inner">
                      <div class="row">
                          <div class="col-lg-3"></div>
                          <div class="col-lg-9">
                              <div class="login-horizental cancel-wp pull-left">
                                  <a href="<%=url(:seckills, :index)%>" class="btn btn-warning" style="border-radius: 0px;background-color: #ccc;border-color: #ccc;">返回</a>
                                  <%=f.submit "提交", :class => "btn btn-sm btn-primary login-submit-cs"%>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <% end %>
        </div>
    </div>
</div>
