<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-status-wrap">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h4>秒杀列表</h4>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="add-product">
                <a href="<%=url(:groups, :select_sku, :from => 'seckills')%>">创建秒杀</a>
            </div>
          </div>
        </div>
        <table>
            <tr>
                <th style="width: 10%;">秒杀标题</th>
                <th style="width: 13%;">秒杀描述</th>
                <th style="width: 15%;">商品</th>
                <th style="width: 15%;">开始结束时间</th>
                <th style="width: 10%;">秒杀价(原价)</th>
                <th style="width: 8%;">商品数</th>
                <th style="width: 7%;">销售数</th>
                <th style="width: 10%;">状态</th>
                <th style="width: 10%;"></th>
            </tr>
            <% @seckills.each do |seckill| %>
            <tr>
                <td><%=seckill.title%></td>
                <td><%=seckill.detail%></td>
                <td><%=seckill.t_sku.title%></td>
                <td><%=seckill.begin_time.try{|bt| bt.strftime('%Y%m%d %H:%M')}%>~<br/><%=seckill.end_time.try{|et| et.strftime('%Y%m%d %H:%M')}%></td>
                <td>￥<%=seckill.seckill_price%>(￥<%=seckill.t_sku.price%>)</td>
                <td><%=seckill.num%></td>
                <td><%=seckill.seckill_buyers.purchased.count%></td>
                <td><%=Seckill::STATUS[seckill.status.to_s]%></td>
                <td>
                  <div class="button-drop-style-one btn-danger-bg">
                      <button type="button" class="btn btn-custon-four btn-danger dropdown-toggle" data-toggle="dropdown">操作 <i class="fa fa-angle-down"></i>
    </button>
                      <ul class="dropdown-menu btn-dropdown-menu another-drop-pro-five" role="menu">
                          <% if seckill.status == 1%>
                          <li><a href="<%=url(:seckills, :change_status, :id => seckill.id, :status => '0')%>">下架</a></li>
                          <li><a href="<%=url(:seckills, :edit, :id => seckill.id)%>">修改秒杀信息</a></li>
                          <% elsif seckill.status == 0%>
                          <li><a href="<%=url(:seckills, :change_status, :id => seckill.id, :status => '1')%>">上架</a></li>
                          <% end %>

                          <% if seckill.seckill_buyers.count > 0%>
                          <li><a href="<%=url(:seckills, :show, :id => seckill.id)%>">购买记录</a></li>
                          <% end %>
                      </ul>
                  </div>
                </td>
            </tr>
            <% end %>

        </table>
        <%= will_paginate @seckills %>

    </div>
</div>

<style>
.dropdown-menu.another-drop-pro-five{
  left: 79% !important;
}
</style>
