<div class="card">
    <div class="card-title">
        <h4 class="underline">秒杀列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>

            <a href="<%=url(:groups, :select_sku, :from => 'seckills')%>" class="btn btn-default"><i class="fa fa-plus"></i>创建秒杀</a>
        </div>
    </div>
    <!-- 表格主体内容 -->
    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 10%;">秒杀标题</th>
            <th style="width: 13%;">秒杀描述</th>
            <th style="width: 15%;">商品</th>
            <th style="width: 15%;">开始结束时间</th>
            <th style="width: 10%;">秒杀价(原价)</th>
            <th style="width: 8%;">商品数</th>
            <th style="width: 7%;">销售数</th>
            <th style="width: 10%;">状态</th>
            <th style="width: 10%;"></th>
        </tr>
        </thead>
        <tbody>
        <% @seckills.each do |seckill| %>
        <tr>
          <td><%=seckill.title%></td>
          <td><%=seckill.detail%></td>
          <td><%=seckill.t_sku.title%></td>
          <td><%=seckill.begin_time.try{|bt| bt.strftime('%Y%m%d %H:%M')}%>~<br/><%=seckill.end_time.try{|et| et.strftime('%Y%m%d %H:%M')}%><br/>
            <% if seckill.begin_time > Time.now %>
              <span style="color: #3498DB;">(未开始)</span>
            <% elsif seckill.end_time < Time.now %>
              <span style="color: #3498DB;">(已结束)</span>
            <% end %>
          </td>
          <td>￥<%=seckill.seckill_price%>(￥<%=seckill.t_sku.price%>)</td>
          <td><%=seckill.num%></td>
          <td><%=seckill.seckill_buyers.purchased.count%></td>
          <td><%=Seckill::STATUS[seckill.status.to_s]%></td>
          <td>
            <div class="dropdown">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-gear"></i> <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <% if seckill.status == 1%>
                    <li role="presentation"><a href="<%=url(:seckills, :change_status, :id => seckill.id, :status => '0')%>">下架</a></li>
                    <li role="presentation"><a href="<%=url(:seckills, :edit, :id => seckill.id)%>">修改秒杀信息</a></li>
                    <% elsif seckill.status == 0%>
                    <li role="presentation"><a href="<%=url(:seckills, :change_status, :id => seckill.id, :status => '1')%>">上架</a></li>
                    <% end %>

                    <% if seckill.seckill_buyers.count > 0%>
                    <li role="presentation"><a href="<%=url(:seckills, :show, :id => seckill.id)%>">购买记录</a></li>
                    <% end %>
                </ul>
            </div>
          </td>
        </tr>
        <%end%>
        </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @seckills %>
    </div>
</div>
<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>文本</label>
                            <%= text_field_tag :text, :value => nil, :class => 'form-control' %>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>选择栏</label>
                            <%= select_tag :select, :options => %w[option1 option2], :class => 'form-control' %>
                        </div>
                    </div>

                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>