<div class="card">
    <ul id="myTab3" class="tab-review-design">
      <li class="active" style="margin-right: 30px;color: #909090">
        <div class="card-title">
          <h4><i class="fa fa-tag" aria-hidden="true"></i> 1、选择秒杀商品</h4>
        </div>
      </li>
      <li>
        <div class="card-title">
          <h4 class=""><i class="fa fa-pencil" aria-hidden="true"></i> 2、填写秒杀信息</h4>
        </div>
      </li>
    </ul>

    <% form_for @seckill, url(:seckills, :create), :method => 'post' do |f| %>
        <%=f.hidden_field "t_sku_id" %>
        <%=f.hidden_field "merchant_id" %>
        <div class="row">
            <div class="col-xs-12 form-group-row">
                <label style="height: 18px;">秒杀标题*<span style="color: #EC7063;">(秒杀描述，将展示在秒杀商品页)</span></label>
                <%= f.text_field :title, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>秒杀描述*</label>
                <%= f.text_field :detail, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>开始时间*</label>
                <div class="input-group" style="width: 75%">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <%=f.text_field(:begin_time, :class => "form-control datetimePicker")%>
                </div>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>结束时间*</label>
                <div class="input-group" style="width: 75%">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <%=f.text_field(:end_time, :class => "form-control datetimePicker")%>
                </div>
            </div>
            <div class="col-xs-12 form-group-row">
                <label style="height: 18px;">秒杀价*<span style="color: #EC7063;">(商品原价：￥<%=@seckill.t_sku.price%>)</span></label>
                <%= f.text_field :seckill_price, :class => 'form-control' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>秒杀商品数量*</label>
                <%= f.text_field :num, :class => 'form-control' %>
            </div>
        </div>
        <div class="form-group-row-btn">
            <%= link_to '重新选择商品', url(:groups, :select_sku, :from=>'seckills'), :class => 'btn btn-back' %>
            <%=f.submit '提交', :class => 'btn btn-submit' %>
        </div>
    <% end %>
</div>