<div class="card">
    <div class="review-tab-pro-inner">
      <ul id="myTab3" class="tab-review-design">
        <li class="active" style="margin-right: 30px;color: #909090">
          <div class="card-title">
            <h4><i class="fa fa-tag" aria-hidden="true"></i> 1、选择秒杀商品</h4>
          </div>
        </li>
        <li>
          <div class="card-title">
            <h4 class="underline"><i class="fa fa-pencil" aria-hidden="true"></i> 2、填写秒杀信息</h4>
          </div>
        </li>
      </ul>
        <div id="myTabContent" class="tab-content custom-product-edit">
            <% form_for @seckill, url(:seckills, :create), :class=>"form-horizontal", :method => 'post' do |f| %>
            <div class="product-tab-list tab-pane fade active in">
              <%=f.hidden_field "t_sku_id" %>
              <%=f.hidden_field "merchant_id" %>

              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀标题*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-select-list">
                            <%=f.text_field(:title, :class => "form-control")%>
                          </div>
                      </div>
                      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <label class="login2 pull-left pull-left-pro" style="color: #EC7063">秒杀描述，将展示在秒杀商品页</label>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀描述*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-select-list">
                            <%=f.text_field(:detail, :class => "form-control")%>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">开始结束时间*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              <%=f.text_field(:begin_time, :class => "form-control datetimePicker")%>
                          </div>
                      </div>
                      <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">至</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              <%=f.text_field(:end_time, :class => "form-control datetimePicker")%>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀价*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon">￥</span>
                              <%=f.text_field(:seckill_price, :class => "form-control")%>
                          </div>
                      </div>
                      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <label class="login2 pull-left pull-left-pro" style="color: #EC7063">商品原价：￥<%=@sku.price%></label>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="row">
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">秒杀商品数量*</label>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-select-list">
                            <%=f.text_field(:num, :class => "form-control")%>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group-inner">
                  <div class="login-btn-inner">
                      <div class="row">
                          <div class="col-lg-2"></div>
                          <div class="col-lg-9">
                              <div class="login-horizental cancel-wp pull-left">
                                  <a href="<%=url(:groups, :select_sku, :from=>'seckills')%>" class="btn btn-warning" style="border-radius: 0px;background-color: #ccc;border-color: #ccc;">重新选择商品</a>
                                  <%=f.submit "提交", :class => "btn btn-sm btn-primary login-submit-cs"%>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <% end %>
        </div>
    </div>
</div>
