<div class="card">
    <div class="card-title">
        <h4 class="underline">提现申请列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>
        </div>
    </div>
    <!-- 表格主体内容 -->
    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 15%;">用户昵称</th>
            <th style="width: 10%;">提现金额</th>
            <th style="width: 20%;">银行账号</th>
            <th style="width: 10%;">微信号</th>
            <th style="width: 10%;">申请日期</th>
            <th style="width: 10%;">支付日期</th>
            <th style="width: 10%;">状态</th>
            <th style="width: 10%;"></th>
        </tr>
        </thead>
        <tbody>
          <% @withdraws.each do |withdraw| %>
            <tr>
                <td><%=(withdraw.customer.wechat_info||{})['nickName']%></td>
                <td>￥<%=withdraw.amount%></td>
                <td><%=withdraw.account_no%></td>
                <td><%=withdraw.wechat_no%></td>
                <td><%=withdraw.app_date.try{|ad| ad.strftime("%F")}%></td>
                <td><%=withdraw.pay_date.try{|pd| pd.strftime("%F")}%></td>
                <td><%=Withdraw::STATUS[withdraw.status.to_s]%></td>
                <td>
                  <% if withdraw.status == 0%>
                  <a href="<%=url(:withdraws, :audit, :id =>withdraw.id) %>" title="已打款" class="pd-setting-ed">已打款</a>
                  <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @withdraws %>
    </div>
</div>
<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索模态框</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>文本</label>
                            <%= text_field_tag :text, :value => nil, :class => 'form-control' %>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>选择栏</label>
                            <%= select_tag :select, :options => %w[option1 option2], :class => 'form-control' %>
                        </div>
                    </div>

                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>