<div class="card">
    <div class="card-title">
        <h4 class="underline">商品目录样式</h4>
    </div>
    <div class="card-toolbar">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default" type="button">
          <i class="fa fa-plus-circle"></i> 新增一级目录
        </button>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <ul class="cat-list" id="cat_list">
                <li class="cat-list-item">
                    <div class="cat-list-item-hd">
                        <a data-toggle="collapse" data-target="#cat_1">菜单管理</a>
                        <div class="action">
                            <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, '#', :title => '新增二级目录' %>
                            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, '#', :title => '展示' %>
                            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, '#', :title => '删除' %>
                        </div>
                    </div>
                    <div id="cat_1" class="collapse">
                        <ul class="cat-list-sub">
                            <li class="cat-list-sub-item active">
                                <%= link_to '新增用户', '#' %>
                                <div class="action">
                                    <a href="#"><i class="fa fa-eye-slash"></i></a>
                                    <%= link_to '<i class="fa fa-trash"></i>'.html_safe, '#' %>
                                </div>
                            </li>
                            <li class="cat-list-sub-item">
                                <%= link_to '新增用户', '#' %>
                            </li>
                            <li class="cat-list-sub-item">
                                <%= link_to '新增用户', '#' %>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="cat-list-item">
                    <div class="cat-list-item-hd">
                        <a data-toggle="collapse" data-target="#cat_2">菜单管理</a>
                        <div class="action">
                            <a href="#"><i class="fa fa-eye-slash"></i></a>
                            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, '#' %>
                        </div>
                    </div>
                    <div id="cat_2" class="collapse">
                        <ul class="cat-list-sub">
                            <li class="cat-list-sub-item">
                                <%= link_to '新增用户', '#' %>
                                <div class="action">
                                    <a href="#"><i class="fa fa-eye-slash"></i></a>
                                    <%= link_to '<i class="fa fa-trash"></i>'.html_safe, '#' %>
                                </div>
                            </li>
                            <li class="cat-list-sub-item">
                                <%= link_to '新增用户', '#' %>
                            </li>
                            <li class="cat-list-sub-item">
                                <%= link_to '新增用户', '#' %>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="cat-list-item">
                    <div class="cat-list-item-hd">
                        <a data-toggle="collapse" data-target="#cat_3">加载中</a>
                        <div class="action">
                            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, '#' %>
                        </div>
                    </div>
                    <div id="cat_3" class="collapse">
                        <div class="cat-list-loading">
                        <div class="loading">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-9">
            <ul class="breadcrumb">
                <li>菜单管理</li>
                <li>新增用户</li>
                <a href="#" class="pull-right">查看商品</a>
            </ul>
            <div class="cat-title">
                <h5 class="underline">品牌</h5>
            </div>
            <div class="cat-brands">
                <% 20.times do %>
                    <div class="cat-brand"><%= "百事#{ '长' * rand(4) }" %></div>
                <% end %>
                <div class="btn btn-submit"><i class="fa fa-plus-circle"></i> 新增品牌 </div>
            </div>

            <div class="cat-title">
                <h5 class="underline">属性</h5>
            </div>
            <div class="cat-attrs">
                <% 20.times do %>
                    <div class="cat-attr"><%= "属性#{'长' * rand(2)}" %></div>
                <% end %>
                <div class="btn btn-submit"><i class="fa fa-plus-circle"></i> 新增属性 </div>
            </div>
        </div>
    </div>
</div>