<div class="card">
    <div class="card-title">
        <h4 class="underline">团购列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>
            <a href="<%=url(:groups, :select_sku, :from => 'groups')%>" class="btn btn-default"><i class="fa fa-plus"></i>创建团购</a>
        </div>
    </div>
    <!-- 表格主体内容 -->
    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 15%;">拼团标题</th>
            <th style="width: 15%;">拼团描述</th>
            <th style="width: 25%;">商品</th>
            <th style="width: 12%;">开始结束时间</th>
            <th style="width: 10%;">团购价(原价)</th>
            <th style="width: 8%;">人数限制</th>
            <th style="width: 5%;">销售数</th>
            <th style="width: 5%;">状态</th>
            <th style="width: 5%;"></th>
        </tr>
        </thead>
        <tbody>
        <% @groups.each do |group| %>
            <tr>
                <td><%=group.title%></td>
                <td><%=group.detail%></td>
                <td><%=group.t_sku.title%></td>
                <td><%=group.begin_time.try{|bt| bt.strftime('%Y%m%d %H:%M')}%>~<br/><%=group.end_time.try{|et| et.strftime('%Y%m%d %H:%M')}%><br/>
                  <% if group.begin_time > Time.now %>
                    <span style="color: #3498DB;">(未开始)</span>
                  <% elsif group.end_time < Time.now %>
                    <span style="color: #3498DB;">(已结束)</span>
                  <% end %>
                </td>
                <td>￥<%=group.group_price%>(￥<%=group.t_sku.price%>)</td>
                <td><%=group.min_num%>~<%=group.max_num%></td>
                <td><%=group.group_buyers.purchased.count%></td>
                <td><%=Group::STATUS[group.status.to_s]%></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-gear"></i> <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <% if group.status == 1%>
                        <li role="presentation"><a href="<%=url(:groups, :change_status, :id => group.id, :status => '0')%>"><i class="fa fa-arrow-circle-down"></i>下架</a></li>
                        <li role="presentation"><a href="<%=url(:groups, :change_status, :id => group.id, :status => '2')%>"><i class="fa fa-check"></i>成团</a></li>
                        <li role="presentation"><a href="<%=url(:groups, :change_status, :id => group.id, :status => '3')%>"><i class="fa fa-close"></i>未成团</a></li>
                        <li role="presentation"><a href="<%=url(:groups, :edit, :id => group.id)%>"><i class="fa fa-edit"></i>修改拼团信息</a></li>
                        <% elsif group.status == 0%>
                        <li role="presentation"><a href="<%=url(:groups, :change_status, :id => group.id, :status => '1')%>"><i class="fa fa-arrow-circle-up"></i>上架</a></li>
                        <% end %>

                        <% if group.group_buyers.count > 0%>
                        <li role="presentation"><a href="<%=url(:groups, :show, :id => group.id)%>"><i class="fa fa-list"></i>购买记录</a></li>
                      <% end %>
                    </ul>
                  </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @groups %>
    </div>
</div>
<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <% form_tag url(:groups, :index), :method => 'get' do %>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label>拼团标题</label>
                            <%= text_field_tag :title, :value => params[:title], :class => 'form-control' %>
                        </div>
                    </div>
                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-submit">提交</button>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>