<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= @title.present? ? "#{@title} | Julai Admin" : "Julai Admin" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/owl.carousel.css">
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/owl.theme.css">
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/calendar/fullcalendar.print.min.css">
    <!-- modals CSS
    ============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/modals.css">
    <!-- timePicker CSS
    ============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/jquery.datetimepicker.css">
    <!-- buttons CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/buttons.css">
    <!-- tabs CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/tabs.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/stylesheets/jeweler/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/vendor/modernizr-2.8.3.min.js"></script>
  <!-- jquery
      ============================================ -->
    <script src="/admin/javascripts/jeweler/vendor/jquery-1.11.3.min.js"></script>
    <%= stylesheet_link_tag :custom %>
    <%= javascript_include_tag :custom %>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <%= partial 'layouts/sidebar' %>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">

      <div class="header-advance-area">
          <div class="header-top-area">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="header-top-wraper">
                              <div class="row">
                                  <div class="col-lg-7 col-md-7 col-sm-1 col-xs-12">

                                  </div>
                                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                      <div class="header-right-info">
                                          <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                              <li class="nav-item dropdown">
                                                  <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-envelope-o adminpro-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                                  <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                      <div class="message-single-top">
                                                          <h1>消息</h1>
                                                      </div>
                                                      <div class="message-view">
                                                          <a href="#">查看所有消息</a>
                                                      </div>
                                                  </div>
                                              </li>
                                              <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                  <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                      <div class="notification-single-top">
                                                          <h1>通知</h1>
                                                      </div>

                                                      <div class="notification-view">
                                                          <a href="#">查看所有通知</a>
                                                      </div>
                                                  </div>
                                              </li>
                                              <li class="nav-item">
                                                  <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                            <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                            <span class="admin-name"><%=current_account.email%></span>
                            <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                          </a>
                                                  <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">

                                                      <li><%= link_to '编辑', url(:accounts, :edit, :id => current_account.id), :title => pat(:profile)%>
                                                      </li>
                                                      <li><%= link_to '退出', url(:sessions, :destroy), :method => :delete %>
                                                      </li>
                                                  </ul>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Mobile Menu start -->
          <div class="mobile-menu-area">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="mobile-menu">
                              <nav id="dropdown">
                                  <ul class="mobile-menu-nav">
                                        <% sidebar_menu_active.each do |item| %>
                                        <li>
                                          <a data-toggle="collapse" data-target="#<%= item[:field] %>" href="#"><%= item[:label] %> <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                          <ul id="<%= item[:field] %>" class="collapse dropdown-header-top">
                                            <% item[:options].each do |option| %>
                                                <li><a href="<%= option[:url] %>"><%= option[:label] %></a></li>
                                            <% end %>
                                          </ul>
                                        </li>
                                        <% end %>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Mobile Menu end -->
          <!--
          <div class="breadcome-area" style="margin-top: 60px;">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="breadcome-list single-page-breadcome">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <ul class="breadcome-menu">
                                          <li><a href="/">首页</a> <span class="bread-slash">/</span>
                                          </li>
                                          <li><span class="bread-blod"><#%=@local%></span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          -->
        </div>

        <div class="product-cart-area mg-tb-15">
            <div class="container-fluid">
                <div style="margin-top: 60px;">
                  <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>
                  <%= yield %>
                </div>
            </div>
        </div>
    </div>


    <!-- bootstrap JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/admin/javascripts/jeweler/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/metisMenu/metisMenu.min.js"></script>
    <script src="/admin/javascripts/jeweler/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================
    <script src="/admin/javascripts/jeweler/morrisjs/raphael-min.js"></script>
    <script src="/admin/javascripts/jeweler/morrisjs/morris.js"></script>
    <script src="/admin/javascripts/jeweler/morrisjs/morris-active.js"></script>

		============================================ -->
    <script src="/admin/javascripts/jeweler/sparkline/jquery.sparkline.min.js"></script>
    <script src="/admin/javascripts/jeweler/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/calendar/moment.min.js"></script>
    <script src="/admin/javascripts/jeweler/calendar/fullcalendar.min.js"></script>
    <script src="/admin/javascripts/jeweler/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/tab.js"></script>
    <!-- wizard JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/wizard/jquery.steps.js"></script>
    <script src="/admin/javascripts/jeweler/wizard/steps-active.js"></script>
    <!-- icheck JS
    ============================================ -->
    <script src="/admin/javascripts/jeweler/icheck/icheck.min.js"></script>
    <script src="/admin/javascripts/jeweler/icheck/icheck-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/plugins.js"></script>
    <!-- datapicker JS
    ============================================ -->
    <script src="/admin/javascripts/jeweler/jquery.datetimepicker.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/admin/javascripts/jeweler/main.js"></script>
</body>

</html>
