<div class="card">
    <div class="card-title">
        <h4 class="underline">取消审核列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>
        </div>
    </div>

    <table class="table table-condensed table-striped table-bordered-y" id="accordion2">
        <thead>
        <tr>
            <th style="width: 15%;">订单号</th>
            <th style="width: 10%;">订单类型</th>
            <th style="width: 10%;">取消申请时间</th>
            <th style="width: 10%;">订单金额</th>
            <th style="width: 10%;">支付金额</th>
            <th style="width: 10%;">支付时间</th>
            <th style="width: 20%;">取消原因</th>
            <th style="width: 10%;">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><a data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=order.id%>"><%= order.order_no %></a></td>
                <td><%= Order::ORDERTYPE[order.order_type] %></td>
                <td><%= order.cancel_time.try{|pt| pt.strftime('%Y%m%d')} %></td>
                <td>￥<%= order.amount %></td>
                <td>￥<%= order.pay_amount %></td>
                <td><%= order.pay_time.try{|pt| pt.strftime('%Y%m%d')} %></td>
                <td><%= order.cancel_reason %></td>
                <td class="action">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i> <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#cancelled_<%= order.id %>"><i class="fa fa-circle-o"></i> 审核通过</a>
                                </li>
                            </li>
                            <!--
                            <li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#reject_<#%= order.id %>"><i class="fa fa-times"></i> 审核不通过</a>
                                </li>
                            </li>
                            -->
                        </ul>
                    </div>
                </td>
                <div class="modal modal-custom fade" id="cancelled_<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title underline">取消订单审核通过</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <% form_tag url(:orders, :cancel_check, :id => order.id), :method => :get do %>
                                    <%=hidden_field_tag :status, :value=>'cancelled'%>
                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>退款金额</label>
                                            <%=text_field_tag :refund_amount, :value => order.pay_amount, :class => 'form-control' %>
                                        </div>
                                    </div>
                                    <div align="right">
                                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                                        <button type="submit" class="btn btn-submit">提交</button>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal-custom fade" id="reject_<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title underline">取消订单审核不通过</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <% form_tag url(:orders, :cancel_check, :id => order.id), :method => :get do %>
                                    <%=hidden_field_tag :status, :value=>'reject'%>
                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>审核不通过原因</label>
                                            <%=text_field_tag :reject_reason, :class => 'form-control' %>
                                        </div>
                                    </div>
                                    <div align="right">
                                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                                        <button type="submit" class="btn btn-submit">提交</button>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%= will_paginate @orders %>
</div>

<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索栏</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <% form_tag url(:orders, :cancelling), :method => 'get' do %>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>订单类型</label>
                            <%= select_tag :order_type, :options => Order::ORDERTYPE.invert.to_a.unshift([nil,nil]), :class => 'form-control' %>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>订单号</label>
                            <%= text_field_tag :order_no, :class => 'form-control' %>
                        </div>
                    </div>
                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-submit">提交</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
