<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-status-wrap">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h4>订单列表</h4>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="modal-bootstrap modal-login-form">
                <a class="zoomInDown mg-t" href="#" data-toggle="modal" data-target="#searchZoom">搜索</a>
            </div>
            <div id="searchZoom" class="modal modal-adminpro-general modal-zoomInDown fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-close-area modal-close-df">
                            <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="modal-body">
                            <div class="modal-login-form-inner">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="basic-login-inner modal-basic-inner">
                                            <% form_tag url(:orders, :index), :class=>"form-horizontal", :method => 'get' do %>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <label class="login2">订单状态</label>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <%=select_tag(:status, :options => Order::STATUS.invert.to_a.unshift([nil,nil]), :class => "form-control custom-select-value")%>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <label class="login2">订单类型</label>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <%=select_tag(:order_type, :options => Order::ORDERTYPE.invert.to_a.unshift([nil,nil]), :class => "form-control custom-select-value")%>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <label class="login2">订单号</label>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <%=text_field_tag(:order_no, :class => "form-control")%>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="login-horizental">
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">搜索</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <table id="accordion2">
            <tr>
                <th style="width: 12%;">订单号</th>
                <th style="width: 10%;">订单类型</th>
                <th style="width: 10%;">订单金额</th>
                <th style="width: 10%;">支付金额</th>
                <th style="width: 10%;">支付时间</th>
                <th style="width: 10%;">预约时间</th>
                <th style="width: 10%;">取消时间</th>
                <th style="width: 15%;">订单状态</th>
                <th style="width: 10%;"></th>
            </tr>
            <% @orders.each do |order| %>
            <tr>
                <td><a data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=order.id%>"><%=order.order_no%></a></td>
                <td><%=Order::ORDERTYPE[order.order_type]%></td>
                <td>￥<%=order.amount%></td>
                <td>￥<%=order.pay_amount%></td>
                <td><%=order.pay_time.try{|pt| pt.strftime('%Y%m%d')}%></td>
                <td><%=order.reservation_time.try{|rt| rt.strftime('%Y%m%d %H:%M')}%></td>
                <td><%=order.cancel_time.try{|ct| ct.strftime('%Y%m%d')}%></td>
                <td><%=Order::STATUS[order.status]%></td>
                <td>
                  <div class="button-drop-style-one btn-danger-bg">
                      <button type="button" class="btn btn-custon-four btn-danger dropdown-toggle" data-toggle="dropdown">操作 <i class="fa fa-angle-down"></i></button>
                      <ul class="dropdown-menu btn-dropdown-menu another-drop-pro-five" role="menu">
                          <li><a href="<%=url(:orders, :cancel, :id => order.id)%>">取消</a></li>
                      </ul>
                  </div>
                </td>
                <tbody id="collapse<%=order.id%>" class="panel-collapse panel-ic collapse" style="background: #BDC3C7">
                  <% order.sub_orders.each do |sub_order|%>
                  <tr>
                      <td><%=SubOrder::SUBTYPE[sub_order.sub_type]%></td>
                      <td colspan="6">
                        <table>
                        <% OrderSku.where(id: sub_order.order_sku_ids).each do |order_sku|%>
                        <tr>
                          <td><%=order_sku.t_sku.title%></td>
                          <td><%=order_sku.quantity%></td>
                        </tr>
                        <% end %>
                        </table>
                      </td>
                      <td colspan="2">
                        <% if sub_order.sub_type=="install" %>
                          <%=order.contact_info_s%>
                        <% else %>
                          <%=order.delivery_address%>
                        <% end %>
                      </td>
                  </tr>
                  <% end %>
                </tbody>
            </tr>
            <% end %>

        </table>
        <%= will_paginate @orders %>

    </div>
</div>

<style>
.dropdown-menu.another-drop-pro-five{
  left: 79% !important;
  top: auto;
}
</style>
