<div class="card">
    <div class="card-title">
        <h4 class="underline">到店安装预约时间表</h4>
    </div>

    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <%= link_to '<< 往前一周', url(:orders, :reservations, :date_from => @current_week.prev_week.strftime('%F')), :class => 'btn btn-default' %>
            <% link_to url(:orders, :reservations), :class => 'btn btn-default' do %>
                <%= content_tag :i, nil, :class => 'fa fa-home' %>
            <% end %>
            <%= link_to '往后一周 >>', url(:orders, :reservations, :date_from => @current_week.next_week.strftime('%F')), :class => 'btn btn-default' %>
        </div>
    </div>
    <table id="reservations" class="table table-condensed table-bordered-y">
        <thead>
        <tr>
            <th>时间段</th>
            <% @date_axis.each do |obj| %>
                <% content_tag :th, :class => obj[:today] ? 'today' : nil do %>
                    <%= obj[:date] %><br><%= obj[:wday] %>
                <% end %>
            <% end %>
        </tr>
        </thead>
        <tbody>
            <% @result.each do |key, val| %>
                <tr>
                    <td><%= key %></td>
                    <% val.each do |obj| %>
                        <% content_tag :td, :class => obj[:today] ? 'today' : nil do %>
                            <% if obj[:data].any? %>
                                <%= link_to "#{obj[:data].length}个订单", 'javascript:void(0);', :class => 'btn btn-danger btn-sm',
                                            :data => { :toggle => 'popover', :placement => 'top', :html => true, :'original-title' => "#{obj[:data].length}个预约订单",
                                                       :content => partial('orders/reservations/popover', :locals => {:data => obj[:data] }) } %>
                            <% end %>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
