<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-status-wrap">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h4>分销员审核列表</h4>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          </div>
        </div>
        <table>
            <tr>
                <th style="width: 10%;">昵称</th>
                <th style="width: 10%;">角色</th>
                <th style="width: 10%;">成交订单数</th>
                <th style="width: 10%;">成交额</th>
                <th style="width: 10%;">完成订单数</th>
                <th style="width: 10%;">完成金额</th>
                <th style="width: 10%;">发展粉丝数</th>
                <th style="width: 10%;">状态</th>
                <th style="width: 15%;"></th>
            </tr>
            <% @customers.each do |customer| %>
            <tr>
                <td><%=(customer.wechat_info||{})['nickName']%></td>
                <td><%=customer.role.name%></td>
                <td><%=customer.paid_orders.count%></td>
                <td>￥<%=customer.paid_orders.each.sum(&:pay_amount)%></td>
                <td><%=customer.done_orders.count%></td>
                <td>￥<%=customer.done_orders.each.sum(&:pay_amount)%></td>
                <td><%=customer.dist_customers.count%></td>
                <td><%=Customer::APPSTATUS[customer.app_status.to_s]%></td>
                <td>
                  <% if customer.app_status == 0%>
                  <a href="<%=url(:customers, :check_agent, :id =>customer.id, :status => '1') %>" title="审核通过" class="pd-setting-ed">审核通过</a>
                  <a href="<%=url(:customers, :check_agent, :id =>customer.id, :status => '2') %>" title="审核不通过" class="pd-setting-ed">审核不通过</a>
                  <% end %>
                </td>
            </tr>
            <% end %>

        </table>
        <%= will_paginate @customers %>

    </div>
</div>
