<div class="card">
    <div class="card-title">
        <h4 class="underline">问题列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>
        </div>
    </div>
    <!-- 表格主体内容 -->
    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 10%;">话题</th>
            <th style="width: 62%;">问题内容</th>
            <th style="width: 10%;">已回复？</th>
            <th style="width: 15%;"></th>
        </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
            <tr>
                <td><%= question.topic.title%></td>
                <td><%= question.content %></td>
                <td><%= question.answers.where.not(account_id: nil).count > 0 ? '已回复' : '未回复' %></td>
                <td>
                  <a href="<%=url(:questions, :new_answer, :id=>question.id)%>" title="回复" class="pd-setting-ed" style="margin-right: 5px;">回复</a>
                  <a href="<%=url(:questions, :answers, :id=>question.id)%>" title="查看" class="pd-setting-ed" style="margin-right: 5px;">问题详情</a>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @questions %>
    </div>
</div>
<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <% form_tag url(:questions, :index), :method => 'get' do %>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label class="login2">话题</label>
                            <%=select_tag(:topic_id, :options => @topics.map{|topic| [topic.title, topic.id]}.unshift([nil,nil]), :class => "form-control custom-select-value")%>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>内容</label>
                            <%=text_field_tag(:content, :class => "form-control")%>
                        </div>
                    </div>

                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-submit">提交</button>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>