<div class="card">
    <div class="card-title">
        <ul class="nav nav-pills">
            <li><h4><i class="fa fa-user"></i> <%= @question.nickname %></h4></li>
            <li><h4><i class="fa fa-calendar"></i> <%=@question.created_at.strftime("%F %T")%></h4></li>
            <li><h4><i class="fa fa-comments-o"></i> <%=@question.answers.count%>个 回复</h4></li>
        </ul>
    </div>
    <div class="card-title">
        <h4 class="underline">问题内容</h4>
    </div>
    <div class="row">
        <div class="card" style="box-shadow: none;">
            <div class="latest-blog-single blog-single-full-view">
                <p>#<%=@question.topic.title%>#   <%=@question.content%></p>
                <% if @question.images.count > 0 %>
                    <% @question.images.each do |img|%>
                        <img src="<%=img.url%>" style="width: 150px;height: 150px;">
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="comment-head">
                <h3>回复</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="coment-area">
          <% form_for @answer, url(:questions, :answer, :id => @question.id), :class=>"form-horizontal", :method => 'post', multipart: true do |f| %>
                <%=f.hidden_field :question_id %>
                <%=f.hidden_field :account_id %>
                <div class="row">
                    <div class="col-xs-12 form-group-row">
                        <label>文字内容</label>
                        <%=f.text_area :content, :class => "form-control" %>
                    </div>
                    <div class="col-xs-12 form-group-row">
                        <label>图片</label>
                        <%=f.file_field(:images, :class => "form-control", multiple: true)%>
                    </div>
                </div>
                <div class="form-group-row-btn">
                    <%= link_to '返回', url(:questions, :index), :class => 'btn btn-back' %>
                    <%=f.submit '提交', :class => 'btn btn-submit' %>
                </div>
          <% end %>
        </div>
    </div>
</div>

<style>
.coment-area input[type="submit"]{
    padding: 8px 30px;
}
</style>